<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${ sign.name } + '님의 다이어리'"></title>
	<link rel="stylesheet" href="/css/diary.css">
	<link rel="stylesheet" href="/css/reset.css">
	<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<section class="left-section">
			<div class="left-dashed-line">
				<div class="left-gray-background">
					<!-- 조회수 -->
					<p class="todayBanner"><span>Today</span> <span class="todayHere" th:text="${ sign.today }"></span><span th:text="'&nbsp;｜ Total ' + ${ sign.total }"></span></p>
					
					<aside class="left-aside">
						<!-- 좌측, 우측 페이지 이어주는 스프링 디자인 -->
						<div class="item item1"></div>
						<div class="item item1"></div>
						<div class="item item2"></div>
						<div class="item item2"></div>
						<!-- 카테고리 - 미개발 -->
						<details>
							<summary>2022</summary>
							<ul>
								<li><a href="#">----- 일기</a></li>
								<li><a href="#">----- 기록</a></li>
							</ul>
						</details>
						<details>
							<summary class="summary">2021</summary>
							<ul>
								<li><a href="#">----- 일기</a></li>
								<li><a href="#">----- 기록</a></li>
							</ul>
						</details>
						<div class="hover">
							<div class="show">
								<img src="/images/sorryForShow.gif" alt="">
								<p class="sorryText">
									아직 개발중에 있습니다. <span>※개발진 일동</span>
								</p>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</section>
		
		<section class="right-section">
			<div class="right-dashed-line">
				<div class="right-gray-background">
					<!-- 메인 타이틀 - 클릭시 새로고침 역할 -->
					<p class="title"><a href="@{main.do(idx=${ sign.idx })}"><span th:text="${ sign.mainTitle }"></span></a></p>
					<!-- bgm - 페이지 오른쪽 상단에 재생 플레이어와 노래 제목 표시 -->
					<img class="musicLogo" src="/images/noneMain15.gif" alt="">
					<a class="mp3_title" href="#" ><div class="circle-container">
						<div class="circle circle1"> ♫ FEARLESS - 르세라핌 </div>
					</div></a>
					<audio id="bgm" class="mp3" controls>
						<source th:src="@{/filePath/audio/} + 'bgm3.mp3'" type="audio/mp3">
					</audio>
					
					<aside class="right-aside" id="scrollBar">
						<div class="fake"></div>
						<div id="main_box">
							<h1>다이어리</h1>
							<!-- 로그인한 유저가 다이어리 주인일 경우에만 보인다 -->
							<th:block th:if="${ sessionIdx eq sign.idx }">
								<div>
									<input class="writing" type="button" value="글쓰기" th:onclick="|location.href='@{diary_insert_form.do(idx=${ sign.idx })}'|">
								</div>
							</th:block>
						</div>

						<th:block th:each="diary, status : ${list}" th:with="reverseCount=${list.size() - status.index}">
							<div class="diary_box">
								<form>
									<div class="type_diarycontent">
										<div class="top_section">
											<input name="diaryIdx" type="hidden" th:value="${ diary.diaryIdx }">
											<p>
												다이어리 번호: <input id="contentNum" th:value="${reverseCount}" readonly>
												<input name="idx" type="hidden" th:value="${ diary.idx }">
												<label class="date" th:text="'작성일자 : ' + ${ diary.diaryRegDate }"></label>
											</p>
										</div>
										<!-- 로그인한 유저가 다이어리 주인일 경우에만 보인다 -->
										<th:block th:if="${ sessionIdx eq diary.diaryIdx }">
											<input class="modify" id="btn-cover" type="button" value="수정" onclick="modify(this.form);">
											<input class="delete" id="btn-cover" type="button" value="삭제" onclick="del(this.form);">
										</th:block>
										<pre class="diaryContent"><textarea id="scrollBar1" th:text="${ diary.diaryContent }" readonly></textarea></pre>
									</div>
								</form>
							</div>
						</th:block>
					</aside>
				</div>
			</div>
			
			<!-- 오른쪽 탭 -->
			<div class="tabs">
				<form>
					<div class="tab-btns">
						<!-- 해당 미니홈피 유저의 idx -->
						<input id="idx" name="idx" type="hidden" th:value="${ sign.idx }" readonly>
						<!-- 로그인한 유저의 idx -->
						<input id="sessionIdx" name="sessionIdx" type="hidden" th:value="${sessionIdx}" readonly>
						<!-- 홈 탭 -->
						<label for="tab1" id="btn1">홈</label>
						<input id="tab1" type="button" value="홈" style="display: none;" th:onclick="|location.href='@{main.do(idx=${ sign.idx })}'|">
						<!-- 프로필 탭 -->
						<label for="tab2" id="btn2">프로필</label>
						<input id="tab2" type="button" value="프로필" style="display: none;" onclick="profile(this.form);">
						<!-- 다이어리 탭 -->
						<label for="tab3" id="btn3">다이어리</label>
						<input id="tab3" type="button" value="다이어리" style="display: none;" th:onclick="|location.href='@{diary.do(idx=${ sign.idx })}'|">
						<!-- 사진첩 탭 -->
						<label for="tab4" id="btn4">사진첩</label>
						<input id="tab4" type="button" value="사진첩" style="display: none;" th:onclick="|location.href='@{gallery.do(idx=${ sign.idx })}'|">
						<!-- 방명록 탭 -->
						<label for="tab5" id="btn5">방명록</label>
						<input id="tab5" type="button" value="방명록" style="display: none;" th:onclick="|location.href='@{guestbook.do(idx=${ sign.idx })}'|">
					</div>
				</form>
			</div>
		</section>
	</div>
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
	<!-- bgm 재생  -->
	<script>
		//Audio 사용을 위한 객체 생성
		let bgm = document.getElementById("bgm");
		//오디오가 참조하는 노래 주소 지정
		bgm.loop = true; //노래가 끝나도 loop가 가능하게 설정
		bgm.play();
		bgm.volume = 1;
	</script>
	
	<!-- Ajax 사용을 위한 js를 로드 -->
	<script src="/js/httpRequest.js"></script>
	<script th:inline="javascript">
		// 다이어리 글 삭제
		function del(f) {
			if ( !confirm('정말 삭제하시겠습니까?') ) {
				return;
			}
			
			var url = "diary_delete.do";
			var param = "diaryIdx=" + f.diaryIdx.value + 
						"&idx=" + f.idx.value;
			sendRequest( url, param, resultFn, "GET" );
		}
		// 다이어리 글 삭제 콜백메소드
		function resultFn() {
			if ( xhr.readyState == 4 && xhr.status == 200 ) {
				var data = xhr.responseText;
				
				if ( data == 'no' ) {
					alert("삭제 실패");
					return;
				}
				
				alert("삭제성공");
				location.href="diary.do?idx=" + [[${ param.idx }]];
			}
		}
		
		// 다이어리 글 수정
		function modify(f) {
			f.action = 'diary_modify_form.do';
			f.method = "GET";
			f.submit();
		}
	</script>
	
	<!-- 오른쪽 탭 기능 -->
	<script>
		// 프로필 탭
		function profile(f) {
			let sessionIdx = document.getElementById("sessionIdx").value;
			let idx = document.getElementById("idx").value;
			
			// 타 유저 접근 불가
			if ( sessionIdx != idx ) {
				alert("프로필은 본인만 들어갈 수 있습니다");
				return;
			}
			
			f.action = "profile.do";
			f.method = "POST";
			f.submit();
		}
	</script>
</body>
</html>