<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>다이어리 수정</title>
	<link rel="stylesheet" href="/css/diary_modify.css">
	<link rel="stylesheet" href="/css/reset.css">
	<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<script th:inline="javascript">
	window.onload = function () {
		let errMsg = [[${errMsg}]];

		if ( errMsg != null ) {
			alert(errMsg);
			location.href = "/logout.do";
		}
	};
</script>
<body th:if="${ errMsg eq null }">
	<div class="container ">
		<section class="section">
			<div class="dashed-line">
				<div class="gray-background">
					<div class="main">
						<form>
							<input id="diaryIdx" type="hidden" name="diaryIdx" th:value="${ updateDiary.diaryIdx }">
							<input type="hidden" name="idx" th:value="${ updateDiary.idx }">
							<table>
								<caption>다이어리 수정</caption>
								
								<tr>
									<th>내용</th>
									<td><pre><textarea rows="5" cols="50" name="diaryContent" th:text="${ updateDiary.diaryContent }"></textarea></pre></td>
								</tr>
								
								<tr>
									<td colspan="2">
										<input class="write" id="btn-cover" type="button" value="수정" onclick="send(this.form);">
										<input class="cancel" id="btn-cover" type="button" value="취소" th:onclick="|location.href='@{diary.do(idx=${ updateDiary.diaryIdx })}'|">
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
	<!-- Ajax활용을 위한 js파일 로드 -->
	<script src="/js/httpRequest.js"></script>
	<script>
		// 다이어리 글 수정
		function send(f) {
			var url = "diary_modify.do";
			var param = "idx=" + f.idx.value +
						"&diaryIdx=" + f.diaryIdx.value +
						"&diaryContent=" + encodeURIComponent(f.diaryContent.value);
			sendRequest(url, param, sendCallback, "GET");
		}
		// 다이어리 글 수정 콜백메소드
		function sendCallback() {
			if ( xhr.readyState == 4 && xhr.status == 200 ) {
				var data = xhr.responseText;
				let diaryIdx = document.getElementById("diaryIdx").value;

				// 로그인 에러
				if ( data == "-4" ) {
					location.href = "/main.do?idx=" + diaryIdx;
					return;
				}
				if ( data == "0" ) {
					location.href = "/logout.do";
					return;
				}
				if ( data == "-99" ) {
					alert("다른 곳에서 로그인이 시도되어 로그인 페이지로 이동합니다.\n다시 로그인 해주시기 바랍니다.");
					location.href = "/logout.do";
					return;
				}
				if ( data == "-100" ) {
					alert("로그인 시간이 만료되어 로그인 페이지로 이동합니다.\n다시 로그인 해주시기 바랍니다.");
					location.href = "/logout.do";
					return;
				}
				if ( data == "-1" ) {
					alert("세션이 만료되어 로그인 페이지로 이동합니다.\n다시 로그인 해주시기 바랍니다.");
					location.href = "/logout.do";
					return;
				}
				
				if ( data == "no" ) {
					alert("수정실패");
					return;
				}
				
				alert("수정성공");
				location.href = "/diary.do?idx=" + diaryIdx;
			}
		}
	</script>
</body>
</html>