* {
   font-family: 'Jua', sans-serif;
}
/* https://projects.verou.me/css3patterns/#blueprint-grid
           배경 격자무늬 생성  */
body {
    height: 100vh;
    background-color: rgb(103, 106, 109);
    background-image: linear-gradient(rgba(255, 255, 255, .3) 3px,
    transparent 3px), linear-gradient(90deg, rgba(255, 255, 255, .3) 3px,
    transparent 3px), linear-gradient(rgba(255, 255, 255, .3) 3px,
    transparent 3px), linear-gradient(90deg, rgba(255, 255, 255, .3) 3px,
    transparent 3px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    overflow: hidden;
}
/* position */
.container {
    padding-top: 10px;
    height: 900px;
    width: 1800px;
    margin: auto;
    border-radius: 100px;
    display: flex;
    position: relative;
    top:10px;
}

.left-section {
   width: 30%;
   background-color: rgb(158, 218, 241);
   border-radius: 80px;
}

.right-section {
   width: 70%;
   background-color: rgb(158, 218, 241);
   border-radius: 80px;
   position: relative;
}

.left-dashed-line {
   width: 98%;
   height: 830px;
   border-radius: 50px;
   margin: 30px;
   border: 3px dashed white;
   position: relative;
   left: -20px;
   border-right: none;
}

.right-dashed-line {
   width: 99%;
   height: 830px;
   border-radius: 50px;
   margin: 30px;
   border: 3px dashed white;
   position: relative;
   right: 32px;
   border-left: none;
}

.left-gray-background {
   width: 98%;
   height: 810px;
   background-color: rgb(235, 232, 232);
   border-radius: 50px;
   margin: 10px;
   position: relative;
   left: 5px;
}

.right-gray-background {
   width: 99%;
   height: 810px;
   background-color: rgb(235, 232, 232);
   border-radius: 50px;
   margin: 10px;
   position: relative;
   right: 13px;
}

.left-aside {
   width: 90%;
   background-color: white;
   height:760px;
   border-radius: 30px;
   margin: 10px;
   position: relative;
   left: 10px;
   top: 25px;
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.356);
}

.right-aside {
   width: 94%;
   background-color: white;
   height: 760px;
   border-radius: 30px;
   margin: 10px;
   position: relative;
   right: -25px;
   top: 20px;
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.356);
   z-index: 1;
   overflow-x:hidden;
   overflow-y: auto;
}

.left-aside>.item {
   width: 100px;
   height: 25px;
   background: linear-gradient(120deg, rgb(192, 192, 192) 5%, white);
   border-radius: 50px;
   position: relative;
   margin-bottom: 80px;
   left: 443px;
   top: 90px;
   z-index: 1;
   border: 1px solid rgba(0, 0, 0, 0.178);
   box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.356);
   z-index: 2;
}

.left-aside>.item2 {
   top: 260px;
}
/**********************************************************************************************************************/
/* content detail */
/* left content */
.searchBox {position: relative; top:25px; left: -730px; z-index: 2;}
.chatSearchList {position: absolute; left: 780px; width: 60px; height: 37px; top: 10px;}
.chatSearchText {position: absolute; left: 860px; width: 200px; height: 33px; top: 10px;}
.chatSearch {position: absolute; left: 1086px; width: 100px; top: 10px; font-size: 20px;}
/* content */
.memberBox {
    position: relative;
    top: -373px;
    height: 700px;
    margin-left: 30px;
    margin-right: 30px;
    font-size:20px;
    border: 3px solid black;
    background-color: #e6f0ffba;
    overflow-y: auto;
}
.userMainPhoto { width:100px; height:100px; border: 2px solid black; border-radius: 30px; display:inline; }
.memberInfo { margin-top: 10px; }
.chatRoomList { margin-top: 10px; border-bottom: 3px solid black; overflow:hidden; }
.userName { position:absolute; margin-left:10px; margin-top:40px;}
.info1 { position:relative; display:block; margin-left:10px; }
.platform {position:relative; margin-left:10px;}
.unreadStatus {float: right; color: red; font-size: 25px; margin-right: 15px}
/* profile hover */
.chatRoomList figure {
position: relative;
}
.chatRoomList figure::before {
position: absolute;
top: 0;
left: -75%;
z-index: 2;
display: block;
content: '';
width: 50%;
height: 100%;
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.795) 100%);
background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.795) 100%);
-webkit-transform: skewX(-25deg);
transform: skewX(-25deg);
}
.chatRoomList figure:hover::before {
-webkit-animation: shine .75s;
animation: shine .75s;
}
@-webkit-keyframes shine {
100% {
left: 125%;
}
}
@keyframes shine {
100% {
left: 125%;
}
}
/* button */
#btn-cover {  border: 1px solid black;
background-color: rgba(0,0,0,0);
color: rgb(26, 27, 28);
padding: 5px;
border-radius: 5px; font-weight: bold;
font-family: 'Jua', sans-serif;
}
#btn-cover:hover{
color:white;
background-color: skyblue;

}

/* scroll-bar */
#scrollBar::-webkit-scrollbar {
width: 8px;  /* 스크롤바의 너비 */
}

#scrollBar::-webkit-scrollbar-thumb {
height: 30%; /* 스크롤바의 길이 */
background: #79aaee; /* 스크롤바의 색상 */

border-radius: 10px;
}

#scrollBar::-webkit-scrollbar-track {
background: rgba(141, 184, 244, 0.481);  /*스크롤바 뒷 배경 색상*/
}
/**********************************************************************************************************************/

/* tabs */
.tabs input {
   display: none;
}

.tab-btns>label {
    margin: 30px 0;
    width: 100px;
    height: 55px;
    position: relative;
    margin-bottom: 5px;
    background-color: rgb(40, 125, 175);
    left: 1190px;
    top: -908px;
    font-size: 20px;
    padding-left: 15px;
    text-align: center;
    padding-top: 25px;
    border-radius: 0 20px 20px 0;
    color: white;
    border: 1px solid black;
    display: flex;
}

.tabs>#tab1:checked ~.tab-btns>#btn1 {
   background-color: white;
   color: black;
}

.tabs>#tab2:checked ~.tab-btns>#btn2 {
   background-color: white;
   color: black;
}

.tabs>#tab3:checked ~.tab-btns>#btn3 {
   background-color: white;
   color: black;
}

.tabs>#tab4:checked ~.tab-btns>#btn4 {
   background-color: white;
   color: black;
}

.tabs>#tab5:checked ~.tab-btns>#btn5 {
   background-color: white;
   color: black;
}

.tabs>#tab6:checked ~.tab-btns>#btn6 {
   background-color: white;
   color: black;
}

#btn_cover {
   border: 1px solid skyblue;
   background-color: white;
   color: #77d7ff;
   padding: 5px;
   border-radius: 5px;
   font-weight: bold;
}

#btn_cover:hover {
   color: white;
   background-color: skyblue;
}

   /* scroll-bar */
#scrollBar::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

#scrollBar::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #79aaee; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

#scrollBar::-webkit-scrollbar-track {
    background: rgba(141, 184, 244, 0.481);  /*스크롤바 뒷 배경 색상*/
}

/* 눈 내림 */
 .snowflake {
    --size: 1vw;
    width: var(--size);
    height: var(--size);
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -5vh;
    z-index: 100;
}
 @keyframes snowfall {
    0% {
       transform: translate3d(var(--left-ini), 0, 0);
   }
    100% {
       transform: translate3d(var(--left-end), 110vh, 0);
   }
}
 .snowflake:nth-child(1) {
    --size: 1vw;
    --left-ini: -8vw;
    --left-end: 3vw;
    left: 21vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -10s;
}
 .snowflake:nth-child(2) {
    --size: 0.6vw;
    --left-ini: 2vw;
    --left-end: 10vw;
    left: 17vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -9s;
}
 .snowflake:nth-child(3) {
    --size: 0.8vw;
    --left-ini: -5vw;
    --left-end: -7vw;
    left: 78vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -1s;
}
 .snowflake:nth-child(4) {
    --size: 0.2vw;
    --left-ini: -1vw;
    --left-end: -9vw;
    left: 57vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -9s;
}
 .snowflake:nth-child(5) {
    --size: 0.2vw;
    --left-ini: 9vw;
    --left-end: -1vw;
    left: 39vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -3s;
}
 .snowflake:nth-child(6) {
    --size: 0.8vw;
    --left-ini: 3vw;
    --left-end: -6vw;
    left: 60vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -1s;
}
 .snowflake:nth-child(7) {
    --size: 1vw;
    --left-ini: -1vw;
    --left-end: -4vw;
    left: 89vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -8s;
}
 .snowflake:nth-child(8) {
    --size: 1vw;
    --left-ini: -4vw;
    --left-end: -7vw;
    left: 33vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -2s;
}
 .snowflake:nth-child(9) {
    --size: 1vw;
    --left-ini: -4vw;
    --left-end: -4vw;
    left: 78vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -5s;
}
 .snowflake:nth-child(10) {
    --size: 0.6vw;
    --left-ini: -3vw;
    --left-end: 1vw;
    left: 73vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -7s;
}
 .snowflake:nth-child(11) {
    --size: 0.4vw;
    --left-ini: 6vw;
    --left-end: -1vw;
    left: 62vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -8s;
}
 .snowflake:nth-child(12) {
    --size: 0.4vw;
    --left-ini: -1vw;
    --left-end: 1vw;
    left: 46vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -10s;
}
 .snowflake:nth-child(13) {
    --size: 0.8vw;
    --left-ini: 5vw;
    --left-end: 0vw;
    left: 28vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -5s;
}
 .snowflake:nth-child(14) {
    --size: 0.8vw;
    --left-ini: 0vw;
    --left-end: -8vw;
    left: 96vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -5s;
}
 .snowflake:nth-child(15) {
    --size: 1vw;
    --left-ini: 9vw;
    --left-end: 4vw;
    left: 48vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -5s;
}
 .snowflake:nth-child(16) {
    --size: 0.6vw;
    --left-ini: -2vw;
    --left-end: 6vw;
    left: 42vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -3s;
}
 .snowflake:nth-child(17) {
    --size: 0.8vw;
    --left-ini: -5vw;
    --left-end: -5vw;
    left: 11vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -4s;
}
 .snowflake:nth-child(18) {
    --size: 1vw;
    --left-ini: -5vw;
    --left-end: 2vw;
    left: 21vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -5s;
}
 .snowflake:nth-child(19) {
    --size: 0.6vw;
    --left-ini: -6vw;
    --left-end: 0vw;
    left: 66vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -5s;
}
 .snowflake:nth-child(20) {
    --size: 0.8vw;
    --left-ini: 7vw;
    --left-end: -5vw;
    left: 20vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -4s;
}
 .snowflake:nth-child(21) {
    --size: 1vw;
    --left-ini: 5vw;
    --left-end: -9vw;
    left: 50vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -2s;
}
 .snowflake:nth-child(22) {
    --size: 0.8vw;
    --left-ini: 3vw;
    --left-end: 5vw;
    left: 16vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -8s;
}
 .snowflake:nth-child(23) {
    --size: 0.2vw;
    --left-ini: -1vw;
    --left-end: 5vw;
    left: 89vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -2s;
}
 .snowflake:nth-child(24) {
    --size: 0.2vw;
    --left-ini: -8vw;
    --left-end: -9vw;
    left: 36vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -9s;
}
 .snowflake:nth-child(25) {
    --size: 0.2vw;
    --left-ini: -6vw;
    --left-end: 0vw;
    left: 100vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -3s;
}
 .snowflake:nth-child(26) {
    --size: 1vw;
    --left-ini: -4vw;
    --left-end: 3vw;
    left: 72vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -3s;
}
 .snowflake:nth-child(27) {
    --size: 0.8vw;
    --left-ini: -1vw;
    --left-end: 0vw;
    left: 23vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -1s;
}
 .snowflake:nth-child(28) {
    --size: 0.2vw;
    --left-ini: 8vw;
    --left-end: -5vw;
    left: 37vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -5s;
}
 .snowflake:nth-child(29) {
    --size: 1vw;
    --left-ini: 9vw;
    --left-end: 8vw;
    left: 61vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -1s;
}
 .snowflake:nth-child(30) {
    --size: 1vw;
    --left-ini: -4vw;
    --left-end: -1vw;
    left: 59vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -10s;
}
 .snowflake:nth-child(31) {
    --size: 1vw;
    --left-ini: 2vw;
    --left-end: -3vw;
    left: 54vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -7s;
}
 .snowflake:nth-child(32) {
    --size: 1vw;
    --left-ini: -4vw;
    --left-end: -2vw;
    left: 82vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -6s;
}
 .snowflake:nth-child(33) {
    --size: 0.8vw;
    --left-ini: 8vw;
    --left-end: 4vw;
    left: 16vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -2s;
}
 .snowflake:nth-child(34) {
    --size: 0.8vw;
    --left-ini: -8vw;
    --left-end: -4vw;
    left: 39vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -10s;
}
 .snowflake:nth-child(35) {
    --size: 1vw;
    --left-ini: -9vw;
    --left-end: 6vw;
    left: 40vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -1s;
}
 .snowflake:nth-child(36) {
    --size: 0.4vw;
    --left-ini: -6vw;
    --left-end: -6vw;
    left: 36vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -7s;
}
 .snowflake:nth-child(37) {
    --size: 0.4vw;
    --left-ini: -5vw;
    --left-end: -6vw;
    left: 90vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -9s;
}
 .snowflake:nth-child(38) {
    --size: 1vw;
    --left-ini: -8vw;
    --left-end: -8vw;
    left: 9vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -6s;
}
 .snowflake:nth-child(39) {
    --size: 0.6vw;
    --left-ini: 5vw;
    --left-end: 3vw;
    left: 83vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -3s;
}
 .snowflake:nth-child(40) {
    --size: 0.6vw;
    --left-ini: -2vw;
    --left-end: 1vw;
    left: 84vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -3s;
}
 .snowflake:nth-child(41) {
    --size: 0.6vw;
    --left-ini: -1vw;
    --left-end: -8vw;
    left: 73vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -9s;
}
 .snowflake:nth-child(42) {
    --size: 0.2vw;
    --left-ini: -4vw;
    --left-end: 3vw;
    left: 19vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -10s;
}
 .snowflake:nth-child(43) {
    --size: 0.4vw;
    --left-ini: -2vw;
    --left-end: 4vw;
    left: 80vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -3s;
}
 .snowflake:nth-child(44) {
    --size: 0.8vw;
    --left-ini: 6vw;
    --left-end: -3vw;
    left: 7vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -9s;
}
 .snowflake:nth-child(45) {
    --size: 0.6vw;
    --left-ini: -5vw;
    --left-end: -7vw;
    left: 60vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -7s;
}
 .snowflake:nth-child(46) {
    --size: 0.2vw;
    --left-ini: -4vw;
    --left-end: -9vw;
    left: 82vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -7s;
}
 .snowflake:nth-child(47) {
    --size: 0.2vw;
    --left-ini: -4vw;
    --left-end: -2vw;
    left: 56vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -8s;
}
 .snowflake:nth-child(48) {
    --size: 0.6vw;
    --left-ini: 8vw;
    --left-end: -8vw;
    left: 11vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -10s;
}
 .snowflake:nth-child(49) {
    --size: 1vw;
    --left-ini: 3vw;
    --left-end: 8vw;
    left: 24vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -9s;
}
 .snowflake:nth-child(50) {
    --size: 1vw;
    --left-ini: 7vw;
    --left-end: -8vw;
    left: 69vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -3s;
}

/* added small blur every 6 snowflakes*/
 .snowflake:nth-child(6n) {
    filter: blur(1px);
}

#chatArea {
    position: relative;
    width: 100%;
    height: 87%;
    border: 1px solid #ccc;
    background-color: skyblue;
    overflow-y: auto;
}

.video {
    clear: both;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    width: 80%;
    height: 45%;
}

.youVideo {
    float: left;
    margin-left: 25px;
}

.meVideo {
    float: right;
    margin-right: 25px;
}

.chatVideo {
    width: 100%;
    height: 100%;
    background-color: #0099cc;
    color: #fff;
}

.chat {
    clear: both;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    max-width: 80%;
}

#topArea {
    height: 5%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: space-between; /* 수평 가운데 정렬 */
}

#topArea .idTitle {
    font-size: 25px;
    margin-left: 25px;
}

#topArea .videoBtnTitle {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: space-between; /* 수평 가운데 정렬 */
    width: 60px;
    height: 30px;
    margin-right: 25px;
}

#topArea .videoBtnTitle .acceptAndRefuseBtn {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: space-between; /* 수평 가운데 정렬 */
}

#topArea .videoBtnTitle .acceptBtn {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: green;
}

#topArea .videoBtnTitle .refuseBtn {
    width: 30px;
    height: 30px;
    background-color: red;
}

#topArea .videoBtnTitle .videoBtn {
    width: 60px;
    height: 30px;
    background-color: skyblue;
}

#topArea .videoBtnTitle #hangupBtn,
#topArea .videoBtnTitle #cancelBtn {
    background-color: mediumpurple;
}

/* 이미지 스타일 */
.you {
    display: flex;
    align-items: center;
    float: left;
    margin-left: 25px;
}

.chatImg {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.chatMsg {
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    background-color: #0099cc;
    color: #fff;
}

.youStatus {
    margin-top: 20px;
}

/* 내 메시지 스타일 - 오른쪽에 위치 */
.me {
    display: flex;
    align-items: center;
    float: right;
    margin-right: 25px;
}

.meStatus {
    margin-top: 20px;
}

.bottomArea {
    display: flex;
    height: 7%;
}

.messageArea {
    box-sizing: border-box;
    width: 1500px;
    height: 82%;
    display: flex;
    margin: 5px 0px;
}

.message {
    border: none;
    width: 70%;
    height: 96.5%;
    background: #ececec;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 20px;
}

.messageSendBtn {
    width: 25%;
    height: 100%;
    background-color: #87AF6E;
    border-radius: 10px;
    border: none;
}

.recordArea {
    box-sizing: border-box;
    width: 80%;
    height: 80%;
    background: #ececec;
    border-radius: 5px;
    margin: 5px 20px 5px 5px;
    display: flex;
}

.recordPlayer {
    width: 70%;
    height: 100%;
    float: left;
    border-radius: 10px;
}

.recordBtn {
    width: 10%;
    height: 100%;
    float: right;
    border-radius: 10px;
    background-color: #87AF6E;
    border: none;
    margin: 0px 5px;
}

#btnRecordSend {
    margin-right: 0px;
}

/* 반응형 페이지 만들기  */
@media (max-width: 1600px) {
    .cy_logout {
        left: 90%;
    }

    .container {
        height: 100%; /* 높이를 퍼센트(%)로 조정 */
        width: 95%; /* 너비를 퍼센트(%)로 조정 */
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        align-items: center; /* 수직 가운데 정렬 */
    }

    .left-section {
        order: 1;
    }

    .left-dashed-line {
        display: block;
        margin: 0 auto;
        margin-top: 2%;
        left: auto;
        margin-bottom: 25px;
        height: 640px;
        border-radius: 50px;
        border: 3px dashed white;
    }

    .left-gray-background {
        display: block;
        margin: 0 auto;
        margin-top: 15px;
        height: 610px;
        background-color: rgb(235, 232, 232);
        border-radius: 50px;
        left: auto;
    }

    .left-aside {
        margin: 0 auto;
        width: 95.5%;
        background-color: white;
        margin-top: 2%;
        margin-left: 2.25%;
        height: 550px;
        margin-bottom: 100px;
        border-radius: 30px;
        position: absolute;
        top: auto;
        left: auto;
    }

    .right-section {
        order: 2;
        margin-bottom: 5%;
        width: 100%;
        height: 1000px;
    }

    .right-dashed-line {
        display: block;
        margin: 0 auto;
        margin-top: 2%;
        right: auto;
        height: 930px;
        border-radius: 50px;
        position: static;
        border: 3px dashed white;
    }

    .right-gray-background {
        display: block;
        margin: 0 auto;
        margin-top: 1%;
        right: auto;
        height: 900px;
        background-color: rgb(235, 232, 232);
        border-radius: 50px;
        position: static;
    }

    .right-aside {
        margin-top: 1.5%;
        margin-left: 21.5px;
        background-color: white;
        height: 857px;
        border-radius: 30px;
        position: absolute;
        top: auto;
        right: auto;
    }

    .left-aside>.item {
        display: none;
    }

    .left-aside>.item2 {
        display: none;
    }

    .searchBox {
        top: 40px;
    }

    .memberBox {
        top: 80px;
        height: 464px;
    }

    .tab-btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .tab-btns>label {
        left: auto; /* left 속성 제거 */
        top: auto; /* top 속성 제거 */
        margin-left: 5%;
        margin-right: 5%;
        height: 40px;
        border-radius: 20px 20px 20px 20px;
        margin-bottom: 5%;
    }
}