*{font-family: 'Jua', sans-serif;}

/* https://projects.verou.me/css3patterns/#blueprint-grid - 배경 격자무늬 생성 */
body {
    height: 100vh;
    background-color: rgb(103, 106, 109);
    background-image: linear-gradient(rgba(255, 255, 255, .3) 3px, transparent 3px),
    linear-gradient(90deg, rgba(255, 255, 255, .3) 3px, transparent 3px),
    linear-gradient(rgba(255, 255, 255, .3) 3px, transparent 3px),
    linear-gradient(90deg, rgba(255, 255, 255, .3) 3px, transparent 3px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    overflow: hidden;
    color: skyblue; font-weight: bold;
}

/* position */
.container {
    padding-top: 10px;
    height: 860px;
    width: 1800px;
    margin: auto;
    border-radius: 100px;
    display: flex;
    position: relative;
    font-size: 25px;
    top: 30px;
}

.section {
    width:30%;
    height: 860px;
    background-color: rgb(158, 218, 241);
    border-radius: 80px;
    position: relative;
    margin: 0 auto;
}

.dashed-line {
    width: 96%;
    height: 800px;
    border-radius: 50px;
    margin: 30px;
    border: 3px dashed white;
    position: absolute;
    left: -22px;
}

.gray-background {
    width: 98%;
    height: 780px;
    background-color: rgb(235, 232, 232);
    border-radius: 50px;
    margin: 10px;
    position: absolute;
    left: -5px;
}
  
.main {
    width: 90%;
    background-color: white;
    height: 730px;
    border-radius: 30px;
    margin: 10px;
    position: absolute;
    left: 15px;
    top: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.356);
}

/* content detail */
.logo-main {width: 280px; height: 80px; left: 80px; top:30px; position: static; display: block; margin: 20px auto 10px auto;}
.login-minimi {width: 220px; height: 220px; top:110px; left:115px; position: static; display: block; margin: 0 auto;}
.userID {height: 30px; top:350px; left:62px; position: static; width: auto; text-align: center; display: block; margin-top: 5%;}
.userID > input {width: 70%; height: 40px; font-size:25px;}
.userPW {height: 30px; top:410px; left:48px; position: static; text-align: center; display: block; margin-top: 7%;}
.userPW > input {width: 70%; height: 40px; font-size:25px;}
.login {top:485px; left: 130px; position: static; text-align: center; margin-top: 6%;}
.login > input {width: 84%; height: 45px; font-size: 25px;}

/*.naver {top:535px; left:130px; position: static; text-align: center;}*/
.naver {flex: 1; display: flex;}
.naver > a {flex: 1; display: flex;}
.naver > a > img {flex: 1; width: 100%; height: 40px;}
/*.kakao {top:580px; left:130px; position: static; display: flex; justify-content: center; align-items: center; text-align: center;}*/
.kakao {flex: 1; display: flex;}
.kakao > img {flex: 1; width: 100%; height: 40px;}

.findID {width: 180px;}
.findPW {width: 198px;}
.join {display: inherit; width: 170px;}
.none-join {width: 208px;}

#btn-cover {
    border: 1px solid skyblue;
    background-color: rgba(0,0,0,0);
    color: skyblue;
    padding: 5px;
    border-radius: 5px; font-weight: bold;
}

#btn-cover:hover {
    color:white;
    background-color: skyblue;
}

.btn-social {
    display: flex;
    flex-direction: row;
    width: 84%;
    justify-content: space-between;
    margin: 2% auto;
}

.btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 84%;
    margin: 0 auto;
}

.btn-group .top-btn-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 1%;
}

.btn-group .bottom-btn-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

/* 반응형 페이지 만들기  */
@media (max-width: 1600px) {
    .container {
        width: 100%;
    }

    .section {
        width: 50%;
    }

    .dashed-line {
        width: 97.5%;
        /*width: 95.7%;*/ /*1000px*/
    }

    .gray-background {
        width: 98.5%;
        /*width: 97.9%;*/ /*1000px*/
    }

    .main {
        width: 93.5%;
        /*width: 89.3%;*/ /*1000px*/
    }

    .logo-main {
        width: 400px;
    }
}