<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:if="${ errMsg eq null }" th:text="${ sign.name } + '님의 방명록'"></title>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/guestbook.css">
	<link rel="stylesheet" href="/css/animatemin.css">
	<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<script th:inline="javascript">
	window.onload = function () {
		let errMsg = [[${errMsg}]];

		if ( errMsg != null ) {
			alert(errMsg);
			location.href = "/logout";
		}
	};
</script>
<body th:if="${ errMsg eq null }">
	<div class="container">
		<section class="left-section">
			<div class="left-dashed-line">
				<div class="left-gray-background">
					<p class="todayBanner"><span>Today</span> <span class="todayHere" th:text="${ sign.today }"></span><span th:text="'&nbsp;｜ Total ' + ${ sign.total }"></span></p>
					<aside class="left-aside">
						<!-- 좌측, 우측 페이지 이어주는 스프링 디자인 -->
						<div class="item item1"></div>
						<div class="item item1"></div>
						<div class="item item2"></div>
						<div class="item item2"></div>
						<!-- 투데이 -->
						<div class="todayIcon">
							<span class="todayIconText">Today is..</span><img class="box animate__animated animate__headShake animate__infinite" src="/images/emoticon1.png" alt="">
						</div>
						<!-- 프로필 사진 -->
						<div class="left-image">
							<th:block th:if="${ sign.mainPhoto eq 'noImage' }">
								<img class="leftImg" src="/images/noImage.jpeg" alt="">
							</th:block>
							<th:block th:if="${ sign.mainPhoto ne 'noImage' }">
								<img class="leftImg" th:src="@{/filePath/profile/} + ${ sign.mainPhoto }" alt="">
							</th:block>
						</div>
						<!-- 프로필 소개글 -->
						<textarea class="left-textarea" id="scrollBar" th:text="${ sign.mainText }" readonly></textarea>
						<!-- 히스토리 -->
						<div class="history"><img src="/images/arrow.png" alt=""><h3>History</h3></div>
						<!-- 파도타기 -->
						<select class="myFriend" onchange="if(this.value) location.href=(this.value);">
							<option value="">::: 파도타기 :::</option>
							<th:block th:each="ilchon : ${ilchonList}">
								<option th:value="${'guestbook?idx=' + ilchon.ilchonIdx}" th:text="'ㆍ ' + ${ ilchon.ilchonName }"></option>
							</th:block>
						</select>
					</aside>
				</div>
			</div>
		</section>
		
		<section class="right-section">
			<div class="right-dashed-line">
				<div class="right-gray-background">
					<!-- 메인 타이틀 - 클릭시 새로고침 역할 -->
					<p class="title"><a th:href="@{main(idx=${ sign.idx })}"><span th:text="${ sign.mainTitle }"></span></a></p>
					<!-- bgm - 페이지 오른쪽 상단에 재생 플레이어와 노래 제목 표시 -->
					<img class="musicLogo" src="/images/noneMain15.gif" alt="">
					<a class="mp3_title" href="#" ><div class="circle-container">
						<div class="circle circle1"> ♫ LOVE DIVE - IVE(아이브) </div>
					</div></a>
					<audio id="bgm" class="mp3" controls>
						<source th:src="@{/filePath/audio/} + 'bgm1.mp3'" type="audio/mp3">
					</audio>
					
					<aside class="right-aside" id="scrollBar">
						<div class="fake"></div>
						<div id="main_box">
							<h1>방명록 </h1>
							<input class="textWrite" id="btn_cover" type="button" value="방명록 작성" th:onclick="|location.href='@{guestbook_insert_form(idx=${ sign.idx })}'|">
						</div>
						<!-- status - forEach를 돌리면서 추가로 숫자를 순서대로 지정할 수 있게 만들어준다 -->
						<th:bolck th:each="guestbook, status : ${list}" th:with="reverseCount=${list.size() - status.index}">
							<div class="guestbook_box">
								<form>
									<!-- 방명록 정보 구역 -->
									<div class="contentIntroduce">
										<input name="guestbookIdx" type="hidden" th:value="${ guestbook.guestbookIdx }">
										<input name="guestbookSessionIdx" type="hidden" th:value="${ guestbook.guestbookSessionIdx }">
										<!-- 좋아요 구분용 방명록 번호 -->
										<input type="hidden" name="guestbookRef" th:value="${ guestbook.idx }">
										<label>방명록 번호:&nbsp; </label><input class="contentRef" th:value="${reverseCount}" readonly>
										<input type="hidden" name="idx" th:value="${ guestbook.idx }">
										<div class="type_guestbookContentName" th:text="${ guestbook.guestbookName }"></div>
										<div class="type_guestbookRegdate" th:text="'작성일자: (' + ${ guestbook.guestbookRegDate } + ')'"></div>
										<!-- 좋아요 구역 -->
										<!-- ${ status.index } - forEach에서 0부터 생성한 숫자를 id에 추가로 순서대로 지정한다  -->
										<div class="likeHeart" th:id="'guestbookLikeNum' + ${ status.index }" th:text="${ guestbook.guestbookLikeNum }"></div>
										<input id="heart" type="button" onclick="like(this.form)">
										<!-- 로그인한 유저가 작성자 이거나 방명록 주인일 경우에만 보인다 -->
										<th:block th:if="${ loginIdx eq guestbook.guestbookSessionIdx || loginIdx eq guestbook.guestbookIdx }">
											<input class="textBtn" id="btn-cover" type="button" value="수정" onclick="modify(this.form);">
											<input class="textBtn" id="btn-cover" type="button" value="삭제" onclick="del(this.form);">
										</th:block>
									</div>
									<!-- 방명록 내용 구역 -->
									<div class="GuestContent" >
										<!-- 방명록 작성자의 미니미 -->
										<img class="GuestMinimi" th:src="@{/filePath/minimi/} + ${ guestbook.guestbookMinimi }"/>
										<!-- 비밀글 구역 -->
										<div class="GuestText">
											<input name="guestbookSecretCheck" type="hidden" th:value="${ guestbook.guestbookSecretCheck }">
											<!-- 방명록을 비밀글로 했을 경우 -->
											<th:block th:if="${ guestbook.guestbookSecretCheck eq 1 }">
												<div class="flip-box">
													<div class="flip">
														<div class="frontdelComment"><img src="/images/cry.png" alt="">&nbsp;&nbsp; 비밀글 입니다.</div>
														<div class="backdelComment" id="backColor">
															<!-- 로그인한 유저가 작성자 이거나 방명록 주인일 경우에만 보인다 -->
															<th:block th:if="${ loginIdx eq guestbook.guestbookSessionIdx || loginIdx eq guestbook.guestbookIdx }">
																<pre class="type_guestbookContent"> <textarea class="guestbookContent" id= "scrollBar1" th:text="${ guestbook.guestbookContent }" readonly></textarea></pre>
															</th:block>
															<input name="guestbookSecretCheck" type="hidden" th:value="${ guestbook.guestbookSecretCheck }">
														</div>
													</div>
												</div>
											</th:block>
											<!-- 방명록을 공개글로 했을 경우 -->
											<th:block th:if="${ guestbook.guestbookSecretCheck eq 0 }">
												<pre class="type_guestbookContent"> <textarea class="guestbookContent" id= "scrollBar1" th:text="${ guestbook.guestbookContent }" readonly></textarea></pre>
											</th:block>
										</div>
									</div>
								</form>
							</div>
						</th:bolck>
					</aside>
				</div>
			</div>
			
			<!-- 오른쪽 탭 -->
			<div class="tabs">
				<form>
					<div class="tab-btns">
						<!-- 해당 미니홈피 유저의 idx -->
						<input id="idx" name="idx" type="hidden" th:value="${ sign.idx }" readonly>
						<!-- 로그인한 유저의 idx -->
						<input id="loginIdx" name="loginIdx" type="hidden" th:value="${loginIdx}" readonly>
						<!-- 홈 탭 -->
						<label for="tab1" id="btn1">홈</label>
						<input id="tab1" type="button" value="홈" style="display: none;" th:onclick="|location.href='@{main(idx=${ sign.idx })}'|">
						<!-- 프로필 탭 -->
						<label for="tab2" id="btn2">프로필</label>
						<input id="tab2" type="button" value="프로필" style="display: none;" onclick="profile(this.form);">
						<!-- 다이어리 탭 -->
						<label for="tab3" id="btn3">다이어리</label>
						<input id="tab3" type="button" value="다이어리" style="display: none;" th:onclick="|location.href='@{diary(idx=${ sign.idx })}'|">
						<!-- 사진첩 탭 -->
						<label for="tab4" id="btn4">사진첩</label>
						<input id="tab4" type="button" value="사진첩" style="display: none;" th:onclick="|location.href='@{gallery(idx=${ sign.idx })}'|">
						<!-- 방명록 탭 -->
						<label for="tab5" id="btn5">방명록</label>
						<input id="tab5" type="button" value="방명록" style="display: none;" th:onclick="|location.href='@{guestbook(idx=${ sign.idx })}'|">
					</div>
				</form>
			</div>
		</section>
	</div>
<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->      
	<!-- bgm 재생  -->
	<script>
		//Audio 사용을 위한 객체 생성
		let bgm = document.getElementById("bgm");
		//오디오가 참조하는 노래 주소 지정
		bgm.loop = true; //노래가 끝나도 loop가 가능하게 설정
		bgm.play();
		bgm.volume = 1;
	</script>
	
	<!-- Ajax 사용을 위한 js를 로드 -->
	<script src="/js/httpRequest.js"></script>
	<script>
		function del(f) {
			if ( !confirm('정말 삭제하시겠습니까?') ) {
				return;
			}
			
			var url = "guestbook_delete";
			var param = "guestbookIdx=" + f.guestbookIdx.value +
						"&idx=" + f.idx.value +
						"&guestbookSessionIdx=" + f.guestbookSessionIdx.value;
			sendRequest(url, param, resultFn, "GET");
		}
		// 방명록 삭제 콜백메소드
		function resultFn() {
			if ( xhr.readyState == 4 && xhr.status == 200 ) {
				var data = xhr.responseText;
				let idx = document.getElementById("idx").value;

				// 로그인 에러
				if ( data == "-4" ) {
					location.href = "/main?idx=" + idx;
					return;
				}
				if ( data == "0" ) {
					location.href = "/logout";
					return;
				}
				if ( data == "-99" ) {
					alert("다른 곳에서 로그인이 시도되어 로그인 페이지로 이동합니다.\n다시 로그인 해주시기 바랍니다.");
					location.href = "/logout";
					return;
				}
				if ( data == "-100" ) {
					alert("로그인 시간이 만료되어 로그인 페이지로 이동합니다.\n다시 로그인 해주시기 바랍니다.");
					location.href = "/logout";
					return;
				}
				if ( data == "-1" ) {
					alert("세션이 만료되어 로그인 페이지로 이동합니다.\n다시 로그인 해주시기 바랍니다.");
					location.href = "/logout";
					return;
				}
				
				if ( data == "no" ) {
					alert("삭제 실패");
					return;
				}
				
				alert("삭제성공");
				location.href = "/guestbook?idx=" + idx;
			}
		}
		
		//게시글 수정
		function modify(f) {
			f.action = 'guestbook_modify_form';
			f.method = "GET";
			f.submit();
		}
	</script>
	
	<!-- 좋아요 기능 -->
	<script>
		// 좋아요 구하기
		function like(f) {
			let guestbookIdx = f.guestbookIdx.value;
			let idx = f.idx.value;
			let loginIdx = document.getElementById("loginIdx").value;

			let url = "guestbook_like";
			let param = "guestbookLikeIdx=" + guestbookIdx +
						"&guestbookLikeRef=" + idx +
						"&guestbookLikeSessionIdx=" + loginIdx;
			sendRequest(url, param, resultLike, "GET");
		}
		// 좋아요 콜백메소드
		function resultLike() {
			if ( xhr.readyState == 4 && xhr.status == 200 ) {
				// Controller에서 보낸 VO가 JSON형태로 들어온다
				let data = xhr.responseText;

				if ( data == null ) {
					location.href="login";
				}
				
				// JSON형태로 들어온 data를 실제 JSON타입으로 변경
				var json = (new Function('return'+data))();
				
				// 방명록 번호 - name으로 가져와 배열로 생성
				let guestbookRef = document.getElementsByName("guestbookRef");
				let idx = document.getElementById("idx").value;

				// 로그인 에러
				if ( json.GalleryContent == "-4" ) {
					location.href = "/main?idx=" + idx;
					return;
				}
				if ( json.GalleryContent == "0" ) {
					location.href = "/login";
					return;
				}
				if ( json.GalleryContent == "-99" ) {
					alert("다른 곳에서 로그인이 시도되어 로그인 페이지로 이동합니다.\n다시 로그인 해주시기 바랍니다.");
					location.href = "/login";
					return;
				}
				if ( json.GalleryContent == "-100" ) {
					alert("로그인 시간이 만료되어 로그인 페이지로 이동합니다.\n다시 로그인 해주시기 바랍니다.");
					location.href = "/login";
					return;
				}
				if ( json.GalleryContent == "-1" ) {
					alert("세션이 만료되어 로그인 페이지로 이동합니다.\n다시 로그인 해주시기 바랍니다.");
					location.href = "/login";
					return;
				}
				
				// name으로 가져온 방명록 번호로 for문 생성
				for ( let i = 0; i < guestbookRef.length; i++ ) {
					// 갱신된 정보중 방명록 번호를 가져와 일치하는 방명록이 나올때까지 for문을 돌린다
					if ( guestbookRef[i].value == json.idx ) {
						// 좋아요 수가 작성되는곳을 id로 가져오는데 추가로 같이 작성한 숫자로 어느 방명록의 좋아요인지 찾는다
						let guestbookLikeNum = document.getElementById("guestbookLikeNum" + i);
						// 갱신된 정보중 좋아요 수를 가져와 작성한다
						guestbookLikeNum.innerText = json.guestbookLikeNum;
					}
				}
			}
		}
	</script>
	
	<!-- 오른쪽 탭 기능 -->
	<script>
		// 프로필 탭
		function profile(f) {
			let loginIdx = document.getElementById("loginIdx").value;
			let idx = document.getElementById("idx").value;
			
			// 타 유저 접근 불가
			if ( loginIdx != idx ) {
				alert("프로필은 본인만 들어갈 수 있습니다");
				return;
			}
			
			f.action = "profile";
			f.method = "POST";
			f.submit();
		}
	</script>
</body>
</html>