<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>API 설정</title>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/apiPopUp.css">
	<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<script th:inline="javascript">
	window.onload = function () {
		let errMsg = [[${errMsg}]];

		if ( errMsg != null ) {
			alert(errMsg);
			opener.location.href = "/logout.do";
			window.close();
		}
	};
</script>
<body th:if="${ errMsg eq null }">
	<div class="container" id="scrollBar">
		<h2 class="title">API 설정</h2>

		<div class="myMinimiBox">
			<p class="subTitle">API Key&nbsp;&nbsp;
				<input id="btn-cover" type="button" value="나가기" onclick="window.close()">
			</p>
			<br>
			<th:block th:if="${ apiKey ne null }">
				<div class="apiKey" th:text="'ClientId&nbsp;&nbsp;-&nbsp;&nbsp;' + ${ apiKey.clientId }"></div>
				<br>
				<div class="apiKey" th:text="'ClientSecret&nbsp;&nbsp;-&nbsp;&nbsp;' + ${ apiKey.clientSecret }"></div>
				<br>
				<form>
					<input name="idx" type="hidden" th:value="${ apiKey.idx }">
					<div class="apiTitle">Redirect URI</div>
					<input name="redirectUri" type="text" placeholder="Redirect URI" th:value="${ apiKey.redirectUri }" size="50">
					<br>
					<br>
					<div class="apiTitle">동의 항목</div>
					<br>
					<div class="consentTitle">성별</div>
					<label class="consent"><input name="gender" class="scope" type="radio" value="4" th:checked="${ apiKey.gender == 4 }">필수&nbsp;&nbsp;</label>
					<label class="consent"><input name="gender" class="scope" type="radio" value="2" th:checked="${ apiKey.gender == 2 }">선택&nbsp;&nbsp;</label>
					<label class="consent"><input name="gender" class="scope" type="radio" value="0" th:checked="${ apiKey.gender == 0 }">사용 안함</label>
					<br>
					<br>
					<div class="consentTitle">이름</div>
					<label class="consent"><input name="name" class="scope" type="radio" value="4" th:checked="${ apiKey.name == 4 }">필수&nbsp;&nbsp;</label>
					<label class="consent"><input name="name" class="scope" type="radio" value="2" th:checked="${ apiKey.name == 2 }">선택&nbsp;&nbsp;</label>
					<label class="consent"><input name="name" class="scope" type="radio" value="0" th:checked="${ apiKey.name == 0 }">사용 안함</label>
					<br>
					<br>
					<div class="consentTitle">생년월일</div>
					<label class="consent"><input name="birthday" class="scope" type="radio" value="4" th:checked="${ apiKey.birthday == 4 }">필수&nbsp;&nbsp;</label>
					<label class="consent"><input name="birthday" class="scope" type="radio" value="2" th:checked="${ apiKey.birthday == 2 }">선택&nbsp;&nbsp;</label>
					<label class="consent"><input name="birthday" class="scope" type="radio" value="0" th:checked="${ apiKey.birthday == 0 }">사용 안함</label>
					<br>
					<br>
					<div class="consentTitle">휴대폰 번호</div>
					<label class="consent"><input name="phoneNumber" class="scope" type="radio" value="4" th:checked="${ apiKey.phoneNumber == 4 }">필수&nbsp;&nbsp;</label>
					<label class="consent"><input name="phoneNumber" class="scope" type="radio" value="2" th:checked="${ apiKey.phoneNumber == 2 }">선택&nbsp;&nbsp;</label>
					<label class="consent"><input name="phoneNumber" class="scope" type="radio" value="0" th:checked="${ apiKey.phoneNumber == 0 }">사용 안함</label>
					<br>
					<br>
					<div class="consentTitle">이메일</div>
					<label class="consent"><input name="email" class="scope" type="radio" value="4" th:checked="${ apiKey.email == 4 }">필수&nbsp;&nbsp;</label>
					<label class="consent"><input name="email" class="scope" type="radio" value="2" th:checked="${ apiKey.email == 2 }">선택&nbsp;&nbsp;</label>
					<label class="consent"><input name="email" class="scope" type="radio" value="0" th:checked="${ apiKey.email == 0 }">사용 안함</label>
					<br>
					<br>
					<input id="btn-cover" type="button" value="저장" onclick="apiCheck(this.form)">
				</form>
			</th:block>
			<th:block th:if="${ apiKey eq null }">
				<input id="btn-cover" type="button" value="API 발급" th:onclick="|location.href='@{/api/profile_api_key.do(idx=${loginIdx})}'|">
			</th:block>
		</div>
	</div>
<!--------------------------------------------------------------------------------------------------------------------->
	<script>
		function apiCheck(f) {
			let idx = f.idx.value;
			let redirectUri = f.redirectUri.value;
			let gender = f.gender.value;
			let name = f.name.value;
			let birthday = f.birthday.value;
			let phoneNumber = f.phoneNumber.value;
			let email = f.email.value;

			// 유효성 검사
			if ( redirectUri == '' ) {
				alert('RedirectURI를 작성해 주시기 바랍니다.');
				return;
			}

			fetch('/api/profile_api_check.do?' + 'idx=' + idx +
												 '&redirectUri=' + redirectUri +
												 '&gender=' + gender +
												 '&name=' + name +
												 '&birthday=' + birthday +
												 '&phoneNumber=' + phoneNumber +
												 '&email=' + email)
				.then(response => response.text())
				.then(data => {
					// 로그인 에러
					if ( data == '-4' ) {
						location.href = '/main.do?idx=' + idx;
						return;
					}
					if ( data == '0' ) {
						location.href = '/logout.do';
						return;
					}
					if ( data == '-99' ) {
						alert('다른 곳에서 로그인이 시도되어 로그인 페이지로 이동합니다.\n다시 로그인 해주시기 바랍니다.');
						location.href = '/logout.do';
						return;
					}
					if ( data == '-100' ) {
						alert('로그인 시간이 만료되어 로그인 페이지로 이동합니다.\n다시 로그인 해주시기 바랍니다.');
						location.href = '/logout.do';
						return;
					}
					if ( data == '-1' ) {
						alert('세션이 만료되어 로그인 페이지로 이동합니다.\n다시 로그인 해주시기 바랍니다.');
						location.href = '/logout.do';
						return;
					}

					if ( data == 'yes' ) {
						alert('설정되었습니다.');
						window.location.reload();
						return;
					} else {
						alert('설정에 실패하였습니다.');
						return;
					}
				})
				.catch(error => console.error(error)); // fetch
		}
	</script>
</body>
</html>