<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>도토리 충전소</title>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/dotoryPopup.css">
	<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<script th:inline="javascript">
	window.onload = function () {
		let errMsg = [[${errMsg}]];
		let msg = [[${msg}]];

		if ( errMsg != null ) {
			alert(errMsg);
			opener.location.href = "/logout";
			window.close();
		}

		if ( msg != null ) {
			alert(msg);
			return;
		}
	};
</script>
<body th:if="${ errMsg eq null }">
	<div class="container" id="scrollBar">
		<h2 class="title" >도토리 충전소</h2>
		<div class="buyDotory">
			<p class="subTitle" >충전하실 도토리 개수를 선택해 주세요</p>
			<div class="selectDotory">
				<form>
					<div class="tabs">
						<input type="hidden" th:value="${ sign.idx }" name="idx">
						<p class="myDotory"><img class="dotory" src="/images/dotory.png" alt=""><span th:text="'도토리 보유량 : ' + ${ sign.dotory } + ' 개'"></span></p>
						<input type="hidden" name="nowDotory" th:value="${ sign.dotory }">
						<!-- 도토리 개수 선택 -->
						<th:block th:each="product, status : ${productList}">
							<input class="btn dotoryIdx" type="checkbox" th:id="'tab' + ${ status.count }" name="dotoryIdx" th:value="${ product.productIdx }" onclick="NoMultiChk(this)">
						</th:block>
					
						<div class="tab-btns">
							<th:block th:each="product, status : ${productList}">
								<label th:for="'tab' + ${ status.count }" th:id="'btn' + ${ status.count }" th:classappend="${ status.count } == '1' ? active"><div class="list"><img th:src="@{/images/} + 'dotory' + ${ product.price } + '.png'" alt=""><p class="price" th:text="${ product.name } + ' : ' + ${ product.price } + '원'">100개 : 100원</p></div></label>
							</th:block>
						</div>
						
						<div id="buyButton">
							<input id="btn-cover" class="buy" type="button" value="충전하기" onclick="buy(this.form);">
							<input id="btn-cover" class="close "type="button" value="나가기" th:onclick="|opener.location.href='@{/main/{idx}(idx=${ sign.idx })}'; buyclose();|">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
	<!-- NicePay API -->
	<script src="https://pay.nicepay.co.kr/v1/js/"></script>
	<script th:inline="javascript">
		// 도토리 결제
		function buy(f) {
			let idx = f.idx.value;
			let dotory = [[${ sign.dotory }]];
			let dotoryIdxNodeList = document.querySelectorAll('.dotoryIdx');
			let dotoryIdxList = Array.from(dotoryIdxNodeList);

			if ( dotoryIdxList.some( dotoryIdx => dotoryIdx.checked ) ) {
				let dotoryIdx = dotoryIdxList
								.filter(dotoryIdx => dotoryIdx.checked)
								.map(dotoryIdx => dotoryIdx.value);

				fetch('/product_check' , {
					method: 'POST',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded'
					},
					body: 'idx=' + idx +
						  '&productIdx=' + dotoryIdx
				})
					.then(response => response.json()) // JSON 형식으로 파싱
					.then(data => {
						// 로그인 에러
						if ( data.price == '0' ) {
							alert('잘못된 접근입니다.\n비회원은 로그인 후 이용해주시기 바랍니다.');
							opener.location.href = '/logout';
							window.close();
							return;
						}
						if ( data.price == '-4' ) {
							alert('잘못된 접근입니다.\n다시 로그인 해주시기 바랍니다.');
							opener.location.href = '/logout';
							window.close();
							return;
						}
						if ( data.price == '-99' ) {
							alert('다른 곳에서 로그인이 시도되어 로그인 페이지로 이동합니다.\n다시 로그인 해주시기 바랍니다.');
							opener.location.href = '/logout';
							window.close();
							return;
						}
						if ( data.price == '-100' ) {
							alert('로그인 시간이 만료되어 로그인 페이지로 이동합니다.\n다시 로그인 해주시기 바랍니다.');
							opener.location.href = '/logout';
							window.close();
							return;
						}
						if ( data.price == '-1' ) {
							alert('세션이 만료되어 로그인 페이지로 이동합니다.\n다시 로그인 해주시기 바랍니다.');
							opener.location.href = '/logout';
							window.close();
							return;
						}

						if ( data.price == '-9' ) {
							alert('상품 정보를 가져오는데 실패하였습니다.');
							return;
						} else {
							AUTHNICE.requestPay({
								clientId: [[${clientId}]],
								method: 'card',
								orderId: [[${orderId}]],
								amount: data.price,
								goodsName: data.name,
								returnUrl: 'http://localhost:9999/dotory/pay_dotory?idx=' + data.idx,
								fnError: function (result) {
									alert(result.errorMsg);
									return;
								}
							});
						}
					})
					.catch(error => console.error(error)); // fetch
				return;
			} else {
				alert("충전할 도토리를 선택해주세요.");
				return;
			}
		}
	</script>

	<script>
		// 팝업창 닫기
		function buyclose() {
			return window.close();
		}
	</script>

	<!-- checkbox 중복 체크 방지 -->
	<script>
		function NoMultiChk(chk) {
			let obj = document.getElementsByName("dotoryIdx");
			for (let i=0; i < obj.length; i++) {
				if (obj[i] != chk) {
					obj[i].checked = false;
				}
			}
		}
	</script>

	<!-- setInterval -->
	<script>
		const list = document.querySelectorAll('.tab-btns>label');

		list.forEach (function(label, index) {
			label.addEventListener('onclick',labelHandler);
		});

		let currentList;

		function labelHandler(event) {
			if (currentList) {
				currentList.classList.remove('active');
			}

			let target = event.target;
			target.classList.add('active');
			currentList = target;
		}

		let count = 0;

		function labelHandler(event) {
			if (currentList) {
				currentList.classList.remove('active');
			}

			let target = list[count];
			target.classList.add('active');
			currentList = target;
			count++;

			if (count >= list.length) {
				count = 0;
			}
		}

		labelHandler();
		setInterval(labelHandler, 3000);
	</script>
</body>
</html>